/*@view-transition{
  navigation: auto;
}
::view-transition-group(*){
  animation-duration: 0.25s;
}
::view-transition-old(root){
  animation: hola 0.5s forwards;
}
::view-transition-new(root){
  animation: hola-2 0.5s forwards;
}*/
@keyframes hola{
  from{
    transform: translateX(0px);
  }

  to{
    transform: translateX(-100%);
  }
}
@keyframes hola-2{
  from{
    transform: translateX(100%);
  }

  to{
    transform: translateX(0px);
  }
}
/* BARRA DE SCROLL */
::-webkit-scrollbar {
    width: 10px;
}

/* FONDO */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* BARRA */
::-webkit-scrollbar-thumb {
    background: #6C3BFF;
    border-radius: 10px;
}

/* HOVER */
::-webkit-scrollbar-thumb:hover {
    background: #5728D9;
}